body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:778px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u31684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:778px;
  font-size:16px;
  color:#999999;
}
#u31685 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:381px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:64px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:64px;
}
#u31688 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.458823529411765);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u31689 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:12px;
  width:40px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
}
#u31690 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:36px;
  word-wrap:break-word;
}
#u31691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.458823529411765);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u31691 {
  border-width:0px;
  position:absolute;
  left:1292px;
  top:16px;
  width:32px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u31692 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:28px;
  word-wrap:break-word;
}
#u31693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u31693 {
  border-width:0px;
  position:absolute;
  left:1241px;
  top:0px;
  width:51px;
  height:64px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u31694 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:47px;
  word-wrap:break-word;
}
#u31695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u31695 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:0px;
  width:121px;
  height:64px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u31696 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:13px;
  width:73px;
  word-wrap:break-word;
}
#u31697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u31697 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:0px;
  width:81px;
  height:64px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u31698 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:22px;
  width:57px;
  white-space:nowrap;
}
#u31699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u31699 {
  border-width:0px;
  position:absolute;
  left:1197px;
  top:21px;
  width:22px;
  height:22px;
}
#u31700 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u31701 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:0px;
  width:81px;
  height:64px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u31702 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:22px;
  width:57px;
  white-space:nowrap;
}
#u31703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:6px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31703 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:58px;
  width:72px;
  height:6px;
}
#u31704 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u31705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:1440px;
  height:60px;
  font-size:16px;
  color:#999999;
}
#u31706 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u31707 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:84px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u31708 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u31709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1209px;
  height:614px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u31709 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:134px;
  width:1209px;
  height:614px;
  font-size:16px;
  color:#999999;
}
#u31710 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:299px;
  width:1205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31711 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:665px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31712 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u31713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1209px;
  height:111px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u31713 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:134px;
  width:1209px;
  height:111px;
  font-size:16px;
  color:#999999;
}
#u31714 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:1205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u31715 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:179px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u31716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u31717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u31717 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:403px;
  width:110px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u31718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u31719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u31719 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:169px;
  width:44px;
  height:44px;
}
#u31720 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  word-wrap:break-word;
}
#u31721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u31721 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:403px;
  width:110px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u31722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u31723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u31723 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:403px;
  width:123px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u31724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u31725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:8px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31725 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:491px;
  width:607px;
  height:8px;
}
#u31726 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u31727 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:485px;
  width:20px;
  height:20px;
}
#u31728 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u31729 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:485px;
  width:20px;
  height:20px;
}
#u31730 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u31731 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:485px;
  width:20px;
  height:20px;
}
#u31732 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u31733 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:665px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u31734 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u31735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:75px;
}
#u31735 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:262px;
  width:72px;
  height:74px;
}
#u31736 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  word-wrap:break-word;
}
#u31737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u31737 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:262px;
  width:274px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u31738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u31739 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:546px;
  width:1072px;
  height:65px;
}
#u31740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
}
#u31740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u31741 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:263px;
  word-wrap:break-word;
}
#u31742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
}
#u31742 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:0px;
  width:267px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31743 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:263px;
  word-wrap:break-word;
}
#u31744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
}
#u31744 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:0px;
  width:267px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31745 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:263px;
  word-wrap:break-word;
}
#u31746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:30px;
}
#u31746 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:0px;
  width:266px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31747 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:262px;
  word-wrap:break-word;
}
#u31748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
}
#u31748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:267px;
  height:30px;
  text-align:right;
}
#u31749 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:263px;
  word-wrap:break-word;
}
#u31750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
}
#u31750 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:30px;
  width:267px;
  height:30px;
}
#u31751 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:263px;
  word-wrap:break-word;
}
#u31752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:30px;
}
#u31752 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:30px;
  width:267px;
  height:30px;
}
#u31753 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:263px;
  word-wrap:break-word;
}
#u31754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:30px;
}
#u31754 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:30px;
  width:266px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u31755 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:262px;
  word-wrap:break-word;
}
